# documentation
*.pdf

# custom config
clients/web/webclient.cfg
server/config/eiserver.cfg
**/examples.cfg
**/absfrontend.jar
**/ENVISAGE_CONFIG

# emacs files
*~

# latex files
doc/**/*.aux
doc/**/*.bbl
doc/**/*.blg
doc/**/*.log
doc/**/*.out
doc/**/*.toc
