#main{
   background-color: BurlyWood;
   float: right;
   position: absolute;
   height:200px;
   right: 0;
   left:200px;
   margin-top:10px;
    
}
#sidebar{
   background-color: IndianRed;
    
   margin-top:10px;
   width:200px;
   float: left;
   position: absolute;
   height:200px;
   overflow-y: hidden;
}
.dragbarV{
   background-color:black;
   height:100%;
   float: left;
   width: 3px;
   cursor: col-resize;
}

.dragbarH{
   background-color:black;
   width:100%;
   float: left;
   height: 3px;
   cursor: row-resize;
}
.ghostbarV{
    width:3px;
    background-color:#000;
    opacity:0.5;
    position:absolute;
    cursor: col-resize;
    z-index:999}

.ghostbarH{
    height:3px;
    background-color:#000;
    opacity:0.5;
    position:absolute;
    cursor: col-resize;
    z-index:999}
