.dragbarV{
   background-color:black;
   height:100%;
   float: left;
   width: 3px;
   cursor: col-resize;
}

.dragbarH{
   background-color:black;
   width:100%;
   float: left;
   height: 3px;
   cursor: row-resize;
}
