// This file is an template to configure github access.

/*
	You have to replace "YOUR PERSONAL TOKEN HERE", this element can not be shared,
        so you must not commit or upload it to any public site. To create the token,
        Follow this steps: 
        https://help.github.com/articles/creating-an-access-token-for-command-line-use/

	When you write this token, You have to change the name of the
	file to "githubToken.js"
*/

var github_Token = "YOUR PERSONAL TOKEN HERE";

